---
import Card from '@components/Card';
import SideLeft from '@components/SideLeft.astro';

import type { CollectionEntry } from 'astro:content';

export type SectionItem = {
  index?: number;
  href?: string;
  title: string;
  description?: string;
  posts: CollectionEntry<'posts'>[];
  showCount?: boolean;
  showAll?: boolean;
};

interface Props extends SectionItem {}

const { title, posts, index, href, showCount = false, showAll = false } = Astro.props;
---

<section>
  <div class="mb-px grid xl:grid-cols-[16.625rem_1fr] xl:gap-px">
    <SideLeft title={title} count={posts.length} index={index} href={href} showCount={showCount} />
    <div class="grid gap-px sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5">
      {
        (showAll ? posts : posts.slice(0, 15)).map((post) => {
          return (
            <Card
              href={`/post/${post.id}`}
              title={post.data.title}
              date={post.data.pubDate}
              tags={post.data.tags ?? []}
              img={post.data.image?.url}
              client:load
            />
          );
        })
      }
    </div>
  </div>
</section>
